/*elements*/
body {
    background-color: beige;
    /*google fonts*/
    font-size: 12pt;
    font-weight: 400;
    color: #333;
    width: 100vw;
    height: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
h1{
    font-family: dancing script,cursive;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0px 0px 10px;
    margin-bottom: 10px;
}
header {
    background-color: #bdc4db;
    text-align: center;
    text-decoration-color: cadetblue;
    height: auto;
    padding: 20px;
    margin: 0px;
}
main {
    width: 100vw;
    padding: 30px 100px;
    box-sizing: border-box;
}
footer {
    color: white;
    background-color: #162966;
    text-align:center;
    height: auto;
    padding: 20px;
    margin: 0px;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0px 0px 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}
h3{
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    text-align: justify;
    margin: .5rem 0px;
}
img{
    width: 400px;
    margin: 10px 0px;
    cursor: pointer;
}
header{
    height: 4rem;
    background-color: chartreuse;
    border: none;
    margin: 20px 0px 0px;
    text-decoration-color: darkblue;
}
a{
    color:darkcyan;
    font-weight: 600;
    text-decoration-color: home;
}
a:hover{
    color: darkcyan;
}
a:visited{
    color: darkmagenta;
}
/*Ids*/
#page-title{
    color:white;
    text-align: center;
}
tagline{
    color:white;
    text-align: center;
    margin: opx;
}
intro{
    font-style: italic;
    margin-bottom: 20px;
}


/*class*/
:right{
    float: right;
    margin-left: 20px;
}
:bordered{
    border:4px;
    padding:0px;
}